:root {
  --body-bg-color: white;
  --container-bg-color: rgb(223, 231, 238);
  --heading-color: hsl(223, 47%, 23%);
  --main-bg-color: white;
  --premium-plan-bg-color: hsl(225, 100%, 98%);
  --annual-plan-text-color: hsl(223, 47%, 23%);
  --money-text-color: hsl(224, 23%, 55%);
  --change-anchor-hover: hsl(224, 23%, 55%);
  --payment-to-procced-bg-color: hsl(245, 75%, 52%);
  --payment-to-proceed-paragraph-text-color: hsl(225, 100%, 98%);
  --payment-to-proceed-hover-bg-color: hsl(224, 23%, 55%);
  --div-cancel-paragraph-text-color: hsl(224, 23%, 55%);
  --div-cancel-paragraph-hover-text-color: hsl(223, 47%, 23%);
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg-color);
  margin: 1vmin auto;
}

/* Contanier  */
.container {
  width: 90vw;
  min-height: 47vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-bg-color);
  background-image: url('./images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Red Hat Display", sans-serif;
  padding: 1rem;
}

/* Main Heading */
.heading {
  color: var(--heading-color);
  font-weight: 900;
  font-size: 1.7em;
  margin-top: 12.4rem;
}

/* Paragraph */
p {
  font-size: 16px;
  font-weight: 500;
}

/* Main Div  */
.main {
  width: 26rem;
  background-color: var(--main-bg-color);
  background-image: url('./images/illustration-hero.svg');
  background-repeat: no-repeat;
  background-size: 100% 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 0.9em;
}

/* Heading Description */
.description {
  margin: 1em;
  width: 80%;
  text-align: center;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

/* Annual Plan and Change */
.premium-plan {
  display: flex;
  justify-content: center;
  width: 80%; 
  min-height: 90%;
  align-items: center;
  background-color: var(--premium-plan-bg-color);
  border-radius: 5px;
  margin: 4% 0;
}

.premium-plan .music-annual-plan-money-and-change {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.music-annual-plan-money-and-change .music-annual-plan-and-money{
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.music-annual-plan-and-money .image {
  width: 30%;
  min-height: 100%;
  background-image: url('./images/icon-music.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.music-annual-plan-and-money .annual-plan-and-money {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2% 3%;
}

.annual-plan-and-money .annual-plan {
  font-weight: 700;
  color: var(--annual-plan-text-color);
} 

.annual-plan-and-money .money {
  color: var(--money-text-color);
}

.music-annual-plan-money-and-change .change {
  width: 27%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4.5% 1%;
}

.music-annual-plan-money-and-change .change a {
  font-weight: 700;
}

.music-annual-plan-money-and-change .change a:hover {
  text-decoration: none;
  color: var(--change-anchor-hover);
}

/* Proceed to Payment */
.proceed-to-payment {
  width: 80%;
  text-align: center;
  background-color: var(--payment-to-procced-bg-color);
  border-radius: 10px;
  padding: 3% 3% 4%;
  margin: 3%;
  box-shadow: 0px 0.06rem 0.5rem 0.06rem hsl(224, 23%, 55%);
}

.proceed-to-payment p {
  color: var(--payment-to-proceed-paragraph-text-color);
  font-weight: 900;
}

.proceed-to-payment:hover {
  background-color:  var(--payment-to-proceed-hover-bg-color);
  text-decoration: none;
  cursor: pointer;
}

/* Cancel Order */
.cancel {
  text-align: center;
  width: 80%;
  margin: 3%;
  margin-bottom: 7%;
}

.cancel p {
  text-align: center;
  color: var(--div-cancel-paragraph-text-color);
  font-weight: 700;
  text-decoration: none;
}

.cancel p:hover {
  color: var(--div-cancel-paragraph-hover-text-color);
  text-decoration: none;
  cursor: pointer;
}

