@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contanier  */
.container {
  width: 375px;
  min-height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  padding: 1em;
}

/* Main Heading */
.heading {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 110%;
  margin-top: 52%;
}

/* Paragraph */
p {
  font-size: 16px;
  font-weight: 500;
}

/* Main Div  */
.main {
  width: 90%;
  background-color: white;
  background-image: url('./images/illustration-hero.svg');
  background-repeat: no-repeat;
  background-size: 100% 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 0.9em;
}

/* Heading Description */
.description {
  margin: 1em;
  width: 80%;
  text-align: center;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

/* Annual Plan and Change */
.premium-plan {
  display: flex;
  justify-content: space-around;
  width: 80%; 
  height: 65px;
  align-items: center;
  background-color: rgb(247, 246, 248);
  border-radius: 5px;
  margin: 4% 0;
}

.premium-plan .music-annual-plan-money-and-change {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.music-annual-plan-money-and-change .music-annual-plan-and-money{
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.music-annual-plan-and-money .image {
  width: 3rem;
  background-image: url('./images/icon-music.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.music-annual-plan-and-money .annual-plan-and-money {
  padding: 2%;
}

.annual-plan-and-money .annual-plan {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
} 

.annual-plan-and-money .money {
  color: hsl(224, 23%, 55%);
}

.music-annual-plan-money-and-change .change {
  padding-right: 2%;
}

.music-annual-plan-money-and-change .change a {
  font-weight: 700;
}

.music-annual-plan-money-and-change .change a:hover {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

/* Proceed to Payment */
.proceed-to-payment {
  width: 80%;
  text-align: center;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  padding: 3% 3% 4%;
  margin: 3%;
  box-shadow: 0px 5px 20px 1px hsl(224, 23%, 55%);
}

.proceed-to-payment p {
  color: hsl(225, 100%, 98%);
  font-weight: 900;
}

.proceed-to-payment:hover {
  background-color:  hsl(224, 23%, 55%);
  text-decoration: none;
  cursor: pointer;
}

/* Cancel Order */
.cancel {
  text-align: center;
  width: 80%;
  margin: 3%;
}

.cancel p {
  text-align: center;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  text-decoration: none;
}

.cancel p:hover {
  color: hsl(223, 47%, 23%);
  text-decoration: none;
  cursor: pointer;
}

/* Attribution */
.attribution {
   width: 80%;
   margin: 3%;
   font-size: 60%;
   text-align: center;
   margin: 2%;
}

/* Desktop viewport of min 1440px screen size  */
@media all and (min-width: 1440px) {
  .container {
    width: 90%; 
    background-color: rgb(223, 231, 238);
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin: 0 auto;
}

  .main {
    width: 30%;
  }
} 
